
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@import "tailwindcss";


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
  font-size: 1.05rem;
  font-family: Roboto;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: var(--bg-gradient);
  color: var(--text-color);
  transition: background 0.4s ease, color 0.4s ease;
}

.light {
  --bg-gradient: radial-gradient(circle,#fff); /* soft light blues */
  --text-color: #1a1a1a; /* near-black for elegant contrast */
    --accent-color: #2563eb;
  --selection-bg: #bcd7ff;
  --scrollbar-bg: #e5e7eb;
  --scrollbar-thumb: #cbd5e1;
}

.dark {
  --bg-gradient: radial-gradient(circle,  #111); /* elegant deep slate shades */
  --text-color: #f1f1f1; /* soft white */
    --accent-color: #3b82f6;
  --selection-bg: #3b82f660;
  --scrollbar-bg: #1e293b;
  --scrollbar-thumb: #334155;
}
::selection {
  background: var(--selection-bg);
  color: inherit;
}
body {
  background: var(--bg-gradient);
  color: var(--text-color);
  transition: background 0.4s ease, color 0.4s ease;
}
